<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<div>
  <%= @query %>
  <p>- You</p>
</div>

<div>
  answer
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", "/ask" %>
